<div class="receipt">
  <h1>RECEIPT</h1>
  <h2>Villa: <%= listing.title %></h2>
  <p><strong>Name:</strong> <%= bookingData.name %></p>
  <p><strong>DOB:</strong> <%= bookingData.dob %></p>
  <p><strong>Email:</strong> <%= bookingData.email %></p>
  <p><strong>Mobile:</strong> <%= bookingData.mobile %></p>
  <p><strong>Address:</strong> <%= bookingData.address %></p>
  <p><strong>Payment Method:</strong> <%= bookingData.paymentMethod %></p>
  <br><br>
  <p>______________________</p>
  <p>Signature</p>
</div>
